<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>CriarConta</servlet-name>
    <servlet-class>br.com.banco.controller.CriarContaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EntrarConta</servlet-name>
    <servlet-class>br.com.banco.controller.EntrarContaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Extrato</servlet-name>
    <servlet-class>br.com.banco.controller.ExtratoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>br.com.banco.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Operacao</servlet-name>
    <servlet-class>br.com.banco.controller.OperacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CriarConta</servlet-name>
    <url-pattern>/CriarContaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Extrato</servlet-name>
    <url-pattern>/ExtratoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EntrarConta</servlet-name>
    <url-pattern>/EntrarContaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Operacao</servlet-name>
    <url-pattern>/OperacaoServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
</web-app>